textarea {
	background-color: #eee;
}

.empty-state {
	padding: 15px;
}

#mainWrapper h1 {
	background: none repeat scroll 0 0 gray;
	color: white;
	font-size: large;
	padding: 10px 0;
	text-align: center;
	margin-top: 0px;
}

#mainWrapper .well {
    padding: 25px;
}

.ui-widget-overlay {
   position: fixed;
}

#identidadSujetoContainer legend {
    font-size: 20px;
    text-align: left;
}

.breadcrumb a:hover {
    text-decoration: none;
}

div.well table {
    background: white none repeat scroll 0 0;
}