<!-- FOOTER GOBMX -->
<footer class="gobmx-footer">
	<div class="container">
		<div class="contact-methods clear-fix ">
			<div class="col-xs-4 fl-left way about">
				<div class="wrap">
					<div class="logo">
						<a href="http://alfa.gob.mx/"> <img alt="Gob.mx"
							src="/delta/resources/imagenes/gobmx/logos/gobmx-bottom.png">
						</a>
					</div>
					<p>
						Gob.mx es el portal &uacute;nico del gobierno que<br />puedes consultar
						a cualquier hora, desde<br />cualquier lugar, en cualquier
						dispositivo.
					</p>
					<p class="privacy">
						<a href="http://alfa.gob.mx/terminos-y-condiciones">T&eacute;rminos y
							condiciones</a>
					</p>
				</div>
			</div>
			<div class="col-xs-2 fl-left way">
				<!-- <div class="wrap">
					 
						<h3>Descarga la app</h3>
						<ul>
							<li><a class="apple" href="#">App Store</a></li>
							<li><a class="google" href="#">Google Play</a></li>
						</ul>
				</div> -->
			</div>
			<div class="col-xs-2 fl-left way">
				<!-- <div class="wrap">
						<h3>Redes sociales</h3>
						<ul>
							<li><a class="fb" href="https://facebook.com/gobmx"
								target="_blank">Facebook</a></li>
							<li><a class="tw" href="https://twitter.com/gobmx_beta"
								target="_blank">Twitter</a></li>
							<li><a class="yt"
								href="http://www.youtube.com/gobiernorepublicamx" target="_blank">Youtube</a>
							</li>
						</ul>
				</div> -->
			</div>
			<div class="fl-left way">
				<div class="wrap">
					<h3>Contacto</h3>
					<p>
						Insurgentes Sur 1735, Col. Guadalupe Inn. <br> Delegaci&oacute;n
						&Aacute;lvaro Obreg&oacute;n <br> M&eacute;xico, D.F. <br> C.P. 01020
					</p>
					<p>
						<a class="email" href="http://alfa.gob.mx/contacto">Env&iacute;anos
							un email</a> <br> <strong>Local:</strong> 5174-8160 
					</p>
				</div>
			</div>
		</div>
		<div class="bottom-nav">
			<div>
				<div class="logo">
					<a href="http://www.presidencia.gob.mx/" target="_blank"> <img
						alt="México - Gobierno de la República"
						src="/delta/resources/imagenes/gobmx/logos/presidencia-bottom.png">
					</a>
				</div>
				<div class="logo">
					<a href="http://www.cofemer.gob.mx/" target="_blank"> <img
						alt="COFEMER" src="/delta/resources/imagenes/gobmx/logos/cofemer-bottom.png">
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>