<!-- HEADER GOBMX -->
<header class="gobmx-header">
	<div class="network-nav">
		<div class="container">
			<div class="logo">
				<a href="http://alfa.gob.mx/"> <img alt="Gob.mx"
					src="/delta/resources/imagenes/gobmx/logos/gobmx-top.png">
				</a>
			</div>
			<nav>
				<ul>
					<li><a href="/presidencia">Gobierno</a></li>
					<li><a class="current" href="https://alfa.gob.mx/">Tr&aacute;mites
							y Servicios</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="top-nav" id="headerSecondaryNavBar" data-spy="affix" data-offset-top="50">
		<div class="container" id="gobMxSecondaryNavBar">
			<nav>
				<ul>
					<li><a href="https://alfa.gob.mx/ventanilla">Ventanilla
							&Uacute;nica</a></li>
					<li><a href="https://alfa.gob.mx/donde-realizar-el-tramites">&iquest;D&oacute;nde
							realizar el tr&aacute;mite?</a></li>
					<li><a href="https://alfa.gob.mx/denuncia">Denuncia</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>