<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration
	xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<appender name="console"
		class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<!-- <param name="ConversionPattern" value="[%p] [%d{dd-MM-yy HH:mm:ss}] %c{2}.%M(%L): %m%n" /> -->
			<param name="ConversionPattern"	value="[%d{dd-MM-yy HH:mm:ss}] [%-5p] [%c{1}(%L)] - %m%n" />
		</layout>
	</appender>

	<appender name="scheduler-consulta-cfdi-servicios-negocio-ejb"
		class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="imssdigital/logs/scheduler-consulta-cfdi-servicios-negocio-ejb" />
		<param name="MaxFileSize" value="50000KB" />
		<param name="MaxBackupIndex" value="9" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"	value=" [sapi] %p [%d{dd-MM-yy HH:mm:ss}] (%C{1}.%M:%L)| %m%n" />
		</layout>
	</appender>

	<logger name="org.apache">
		<!-- <level value="warn" /> -->
		<level value="error" />
	</logger>

	<logger name="org.eclipse.jetty">
		<!-- <level value="warn" /> -->
		<level value="error" />
	</logger>

	<logger name="org.cometd">
		<!-- <level value="warn" /> -->
		<level value="error" />
	</logger>

	<logger name="javax">
		<!-- <level value="info" /> -->
		<level value="error" />
	</logger>

	<logger name="org.hibernate">
		<!-- <level value="warn" /> -->
		<level value="error" />
	</logger>

	<logger name="org.hibernate.type.descriptor.sql.BasicBinder">
		<!-- <level value="warn" /> -->
		<level value="error" />
	</logger>

	<logger name="mx.gob.imss.ctirss">
		<!-- <level value="debug" /> -->
		<level value="info" />
	</logger>

	<logger name="test">
		<!-- <level value="trace" /> -->
		<level value="info" />
	</logger>

	<root>
		<!-- <level value="warn" /> -->
		<!-- <appender-ref ref="console" /> -->
		<!-- <appender-ref ref="archivo" /> -->
		<level value="debug" />
		<appender-ref ref="console" />
	</root>

</log4j:configuration>
