<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />

<!-- Servicios medios contacto -->
	<bean id="emailServiceRemote" class="org.springframework.ejb.access.SimpleRemoteStatelessSessionProxyFactoryBean">
		<property name="jndiName" value="eMailService#mx.gob.imss.ctirss.delta.derechohabientes.service.utility.interfaces.EmailServiceRemote" />
		<property name="businessInterface" value="mx.gob.imss.ctirss.delta.derechohabientes.service.utility.interfaces.EmailServiceRemote" />
<!-- 		<property name="jndiTemplate" ref="serviceRepository" /> -->
	</bean>
	
	<!-- RestTemplate configuracion -->
<!--     <bean id="restTemplate" class="org.springframework.web.client.RestTemplate"></bean> -->
<!-- 	<bean id="registroObraService" class="mx.gob.imss.csdiss.sdroc.service.RegistroObraServiceImpl" /> -->
<!-- 	<bean id="registroIncidenciaService" class="mx.gob.imss.csdiss.sdroc.service.RegistroIncidenciaServiceImpl" /> -->
<!-- 	<bean id="consultaObraService" class="mx.gob.imss.csdiss.sdroc.service.ConsultaObraServiceImpl" /> -->

<!-- 	<import resource="service-context.xml" /> -->

</beans> 