@charset "utf-8";

@font-face {
	font-family: 'Soberana Titular';
	font-weight: normal;
	font-style: normal;
	src: url('fuentes/soberanatitular-webfont.eot');
	src: url('fuentes/soberanatitular-webfont?#iefix') format('embedded-opentype'), url('fuentes/soberanatitular-webfont.woff') format('woff'), url('fuentes/soberanatitular-webfont.ttf') format('truetype'), url('fuentes/soberanatitular-webfont.svg') format('svg');
}





.informacion{
	width: 50%;
	padding: 10px;
}

/*@group Credenciales*/
.credenciales {
	width: 50%;
}

.credenciales-caja {
	background: none repeat scroll 0 0 #F5F5F5;
	border: 1px solid #E5E5E5;
	margin: 80px 30px 50px 30px;
	padding: 30px;
}

.credenciales-caja h2 {
	font-size: 14px;
	height: 14px;
	line-height: 17px;
	margin: 0 0 1.2em;
	position: relative;
}

.credenciales-caja .etiqueta {
	
	display: block;
	font-weight: bold;
	margin: 0 0 0.5em;
	font-size: .9em !important;
	margin-bottom: .3em;
}

.credenciales-caja input[type="text"],.credenciales-caja input[type="password"]
	{
	font-size: 12px;
	height: 28px;
	width: 80%;
	font-weight: bold;
	margin: 0 0 0.7em;
	text-transform: uppercase;
}

.credenciales-caja .email-label,.credenciales-caja .passwd-label {
	font-weight: bold;
	margin: 0 0 0.5em;
	text-transform: uppercase;
}

/*@end Credenciales*/


body {
	/*background:url("../../imagenes/background.png") left top repeat; Se comento por que no se encuentra la imagen*/
	font-size:12px;
	font-family:   Verdana, Geneva, sans-serif;
	color:#666;
/* 	behavior:url("http://deltadev.imss.gob.mx/delta/resources/estilos/fixed/PIE.htc") url("http://deltadev.imss.gob.mx/delta/resources/estilos/fixed/display-table.min.htc"); */
}
a.more-link {
	background:url("../../imagenes/input_background.png") repeat-x left top;
	border-left:1px solid #DDD;
	float:left;
	height:30px;
	line-height:30px;
	width:auto;
	border-color:#DDD #BCBCBC #BCBCBC #DDD;
	border-style:solid;
	border-width:1px;
	padding:0 10px;
}
.pagination a {
	background:url("../../imagenes/input_background.png") repeat-x left top;
	border-left:1px solid #DDD;
	float:left;
	height:30px;
	line-height:30px;
	margin-top:0;
	width:auto;
	border-color:#DDD #BCBCBC #BCBCBC #DDD;
	border-style:solid;
	border-width:1px;
	padding:0 10px;
}
.pagination li {
	list-style-type:none;
	padding:0;
}
.pagination ul {
	padding:0 !important;
}
.pagination {
	float:left;
	width:100%;
}
.margin_pag {
	margin:20px 0;
}
p {
	color:#444;
	font-size:12px;
	line-height:18px;
	margin-bottom:18px;
}
.site_position_left {
	float:left;
	width:1000px;
	margin:0 0 0 35px;
}
.site_position_right {
	float:right;
	width:1000px;
	margin:0 35px 0 0;
}
.site_position_center {
	width:1000px;
	margin:0 auto;
	padding: 0 10 0 10px;
}

.site_position_center_fixed {
	width:1000px;
	margin:0 auto;
/* 	padding: 0 10 0 10px; */
}

.main_wrap {
/*	-moz-box-shadow:0 0 30px #ccc;
	-webkit-box-shadow:0 0 30px #ccc;
 	box-shadow:0 0 30px #ccc;
 	width:1000px; */
	background:#fff;
	/*float:left;*/
	position:relative;
	/*margin:10px 20px 35px 20px;*/
	
}
.wrap {
	width:900px;
	z-index:99;
	margin:0 auto;
}
.page_holder {
	width:900px;
	float:left;
	display:block;
	background:url("../../imagenes/sidebar_background.png") repeat-y 900px top;
	margin:0 50px;
	font-family:   Verdana, Geneva, sans-serif !important;;
}
.page_holder_no_height {
	width:900px;
	float:left;
	display:block;
	margin:0 50px;
}
.page_holder_wide {
	width:900px;
	float:left;
	display:block;
	padding-top:25px;
	margin:0 50px;
}
.header_top {
	background:url("../../imagenes/menu_top_background.png") left top repeat-x;
	height:40px;
	padding:0 50px;
	
}
.tweet {
	list-style-type:none;
	line-height:40px;
	font-size:11px;
}
.tweet p.loading {
	line-height:40px;
	font-size:11px;
}
.top_nav li {
	line-height:40px;
	font-size:11px;
	display:inline;
	margin-left:5px;
}
.top_nav li a {
	padding-right:5px;
	color:#999;
}
.menu_holder {
/*	position:relative;*/
/*	display:block;*/
/*	float:left;*/
/*	z-index:9999;*/
}
.userData_holder{
	position:relative;
	display:block;
	float:right;
	z-index:9999;
}
.header {
	display:block;
	float:left;
	margin:38px auto;
	padding:0 50px;
}
.top_search {
	float:right;
	width:225px;
	padding-top:25px;
	padding-right:50px;
}
.top_search input {
	background:url("../../imagenes/input_background.png") left top repeat-x;
	border-left:1px solid #DDD;
	border-top:1px solid #DDD;
	border-right:1px solid #BCBCBC;
	border-bottom:1px solid #BCBCBC;
	float:left;
	font:11px Arial, Helvetica, sans-serif;
	height:20px;
	width:170px;
	padding:5px;
}
.top_search #searchsubmit {
	cursor:pointer;
	height:32px;
	width:40px;
	border:0;
	font-size:0;
	background:url("../../imagenes/search_icn.png") left top no-repeat;
	text-indent:9999px;
	overflow:hidden;
	padding:5px;
}



.top_version{
	
	float: left !important;
	line-height:40px;
	font-size:10px;
	display:inline;
	margin-left:5px;
	color:#999;
	
}

.submit {
	cursor:pointer;
	width:auto;
	height:32px;
	padding:5px;
}




.menu {
	background:url("../../imagenes/back_verde.gif") left top repeat-x;
	width:100%;
	height:15px;
/*	z-index:999;*/
	line-height:1.0;
	float:right;
/* 	padding:0 50px; */
}
.menu ul {
	position:absolute;
	top:-999em;
	width:15em;
	z-index:999;
}
.menu ul li {
	width:100%;
}
.menu li:hover {
	visibility:inherit;
	outline:0;
	color:#eee;
}
.menu li {
	float:left;
	position:relative;
	height:26px;
	padding-top:17px;
}
.menu a {
	display:block;
	position:relative;
	text-decoration:none;
	margin:0 15px 0 0;
	padding:0 1.7em 0 0;
}
.menu li:hover ul, .menu li.sfHover ul {
	left:-1.4em;
	top:3.7em;
	z-index:9999;
}
ul.menu li:hover li ul, ul.menu li.sfHover li ul {
	top:-999em;
	z-index:9999;
}
ul.menu li li:hover ul, ul.menu li li.sfHover ul {
	left:10em;
	top:0;
	z-index:9999;
}
.menu a, .menu a:visited {
	color:#eee;
	font-size:8px;/*12px;*/
	font-weight:700;
	text-transform:uppercase;
}
.menu li:hover a.main-menu, .menu a:hover {
	outline:0;
	color:#eee;
}
.menu li li a, .menu li li li a {
	color:#FFFFFF !important;
	height:auto;
	background:none;
	text-transform:none !important;
	padding:0 0 0 1.3em;
}
.menu li li a:hover, .menu li li li a:hover, .menu li li.current_page_item, .menu li li li.current_page_item, .menu li.current_page_item a {
	color:#eee !important;
}
.menu li li, .menu li li li {
/* 	background:url("../../imagenes/menu_background_sec.png") left top repeat-x; */
	background:url("../../imagenes/back_verde.gif") left top repeat-x;
	border-top:1px solid #333;
	height:30px;
	padding-top:8px;
}
.main-menu .sf-sub-indicator, .menu li:hover a.main-menu span.sf-sub-indicator, .menu li.sfHover a.main-menu span.sf-sub-indicator, .menu li.current_page_item .main-menu .sf-sub-indicator {
	background:none;
	display:none;
}
.sf-sub-indicator {
	position:absolute;
	display:block;
	right:.3em;
	top:1.05em;
	width:10px;
	height:10px;
	text-indent:-999em;
	overflow:hidden;
	background:url("../../imagenes/arrows-ffffff.png") no-repeat -10px -100px;
}
a > .sf-sub-indicator {
	top:.1em;
	background-position:0 -100px;
}
a:focus > .sf-sub-indicator, a:hover > .sf-sub-indicator, a:active > .sf-sub-indicator, li:hover > a > .sf-sub-indicator, li.sfHover > a > .sf-sub-indicator {
	background-position:-10px -100px;
}
.menu ul a > .sf-sub-indicator {
	background-position:0 0;
}
h3, h4, h5, h6 {
	color:#000;
	font-weight:400;
	line-height:1.4em;
	margin:0;
	padding:10px 0;
}



h1 {
	color: #157164;
	/*text-transform: uppercase;*/
	margin-bottom: .3em;
	font: bold 1.2em/1em Arial;
	margin-top: 0;
}

h2 {
	color: #157164;
	/*text-transform: uppercase;*/
	font-weight: bold;
	line-height: 1em;
	margin-bottom: .5em;
	font-size: .9em;
	margin-top: 0;
}


.featured_page h1, .featured_page h2, .featured_page h3, .featured_page h4, .featured_page h5, .featured_page h6 {
	color:#333;
	font-weight:400;
	line-height:1.4em;
	margin:0;
	padding:10px 0;
}
h1 {
	font-size:30px;
}
h2 {
	font-size:24px;
}
ol {
	list-style-type:decimal;
	padding-left:20px;
	margin:5px 0;
}
.left_column ul, .post_entry_wide ul, .post_entry ul {
	list-style-type:disc;
	padding-left:20px;
	margin:5px 0;
}
.left_column ul li, .post_entry_wide ul li, .post_entry ul li, .left_column ol li, .post_entry_wide ol li, .post_entry ol li {
	padding:5px 0;
}
dt {
	font-weight:700;
}
dd {
	font-style:italic;
}
sup {
	font-size:0.7em;
	vertical-align:top;
}
sub {
	font-size:0.7em;
	vertical-align:bottom;
}
acronym, abbr {
	font-weight:700;
	letter-spacing:0.1em;
}
.subtle {
	color:#999;
	font-size:0.9em;
}
.frame {
	background:none repeat scroll 0 0 #FFF;
	border:1px solid #DDD;
	text-align:center;
	padding:8px;
}
.hidden {
	display:none;
	visibility:hidden;
}
#wpstats {
	height:0;
	overflow:hidden;
	width:0;
}
.wp-caption {
	background:none repeat scroll 0 0 #FFF;
	border:1px solid #DDD;
	text-align:center;
	margin:10px 10px 1em;
	padding:4px;
}
.wp-caption-text {
	font-size:11px;
	line-height:16px;
	text-align:center;
	margin:0;
	padding:6px 3px 2px;
}
.wp-caption img {
	border:0 none;
	margin:5px 0 0;
	padding:0;
}
.wp-caption-dd {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.page_holder table, .page_holder_no_height table {
/*	background-color:#000;*/
	border-color:#EEE;
	border-style:solid;
	border-width:0 1px 1px 0;
	margin:15px auto;
	padding:0;
}
.page_holder table tr th, .page_holder_no_height table tr th {
	background-color:#EEE;
	color:#000;
	font-size:12px;
	text-align:center;
	border-color:#EEE;
	border-style:solid;
	border-width:1px 0 0 1px;
	margin:15px auto;
	padding:5px;
}
.page_holder table tr td, .page_holder_no_height table tr td {
	
/*	background-color:#FFF;*/
	color:#333;
	border-color:#EEE;
	border-style:solid;
	border-width:1px 0 0 1px;
	padding:5px 10px;
}
.page_holder hr, .page_holder_no_height hr {
	height:1px;
	border-color:silver;
	border-style:solid;
	border-width:1px 0 0;
	margin:10px 0;
}
form {
	margin:0;
	padding:0;
}
fieldset {
	border:1px solid silver;
	margin:0;
	padding:10px;
}
.page_holder input, .page_holder textarea, .page_holder button, .page_holder select, .page_holder_no_height input, .page_holder_no_height textarea, .page_holder_no_height button, .page_holder_no_height select {
	background-color:#FFF;
	border:1px solid silver;
	color:#333;
	margin:5px;
	padding:5px;
	text-transform: uppercase;
	font
}
cite {
	font-size:11px;
	float:right;
	margin:0;
}
pre, code, tt {
	background-color:#F5F5F5;
	display:inline-block;
	padding-bottom:6px;
	padding-top:5px;
}
pre, code {
	white-space:pre;
	margin:5px 0;
}

img.aligncenter {
	display:block;
	border:1px solid #ccc;
	margin:10px auto;
	padding:3px;
}
img.alignright {
	display:inline;
	border:1px solid #ccc;
	margin:0 0 10px 20px;
	padding:3px;
}
img.alignleft {
	display:inline;
	border:1px solid #ccc;
	margin:10px 20px 10px 0;
	padding:3px;
}
pre {
	-moz-border-radius:10px;
	background-color:#F0F0F0;
	margin:20px 0;
	padding:15px;
}
.form-comment .holder {
	float:left;
	margin-bottom:5px;
	width:100%;
}
.form-comment label {
	float:left;
	width:100px;
/* 	height:20px; */
	margin:5px 0 0;
	padding:5px 0;
}
.form-comment label.wide {
	width:180px;
}
.form-comment input {
	border-left:1px solid #DDD;
	border-top:1px solid #DDD;
	border-right:1px solid #BCBCBC;
	border-bottom:1px solid #BCBCBC;
	color:#282828;
	background:url("../../imagenes/input_background.png") left top repeat-x;
	width:250px;
	font:12px Arial, Helvetica, sans-serif;
	float:left;
	margin:5px 10px 0 0;
	padding:7px;
}
.form-comment input.submit {
	width:auto;
	margin-left:80px;
	cursor:pointer;
}
.form-comment input.submit_no_margin {
	width:auto;
	margin-left:0;
	cursor:pointer;
	padding:7px;
}
.form-comment textarea {
	border-left:1px solid #DDD;
	border-top:1px solid #DDD;
	border-right:1px solid #BCBCBC;
	border-bottom:1px solid #BCBCBC;
	color:#282828;
	font:12px Arial, Helvetica, sans-serif;
	width:450px;
	height:150px;
	background:#fff url("../../imagenes/input_background.png") left bottom repeat-x;
	margin:5px 0 0;
	padding:8px;
}
#table_style {
	border-bottom:1px solid #C8C7C8;
	border-collapse:collapse;
	border-top:1px solid #C8C7C8;
	font-size:12px;
	text-align:center;
	width:100%;
	margin:20px 0;
}
#table_style th {
	background:#F0F0F0;
	border-left:1px solid #C8C7C8;
	border-right:1px solid #C8C7C8;
	font-size:13px;
	font-weight:400;
	padding:8px;
}
#table_style td {
	border-left:1px solid #C8C7C8;
	border-right:1px solid #C8C7C8;
	color:#231F20;
	padding:8px;
}
#calendar_wrap {
	background-color:#DFDFDF;
}
table#wp-calendar {
	border-collapse:collapse;
	width:100%;
	background-color:#444;
	border-spacing:0;
	margin:0 !important;
}
#wp-calendar td {
	background-color:#fff;
	border:1px solid #CFCFCF !important;
	padding:8px !important;
}
#wp-calendar th {
	background-color:#EEE;
	border:1px solid #CFCFCF !important;
	color:#666;
	font-weight:700;
	text-align:center;
	padding:3px 0 !important;
}
#wp-calendar caption {
	padding:10px;
}
.logo h1 {
	padding:0;
}
.breadcrumb {
	 background:url("../../imagenes/bread_background.png") repeat-x left top; 
	 border-bottom:1px solid #BCBCBC; 
/*	 border-top:1px solid #DDD; */
	width:100%;
/* 	padding:0 50px; */
	float:left;
}
.breadcrumb ul li {
	display:block;
	float:right;
	width:auto;
	margin-right:20px;
	padding-top:12px;
	font-size:11px;
	text-shadow:1px 1px #fff;
	text-align: justify;
}
.breadcrumb ul li a:hover {
	color:#999;
	text-decoration:none;
}
.breadcrumb ul li span {
	margin-right:2px;
}
blockquote {
	background-color:#F7F7F7;
	border-left:1px solid #CCC;
	color:#454545;
	font-style:italic;
	margin:18px 0;
	padding:18px 20px;
}
blockquote p {
	font-size:14px;
	margin-bottom:0;
}
.testimonials blockquote + p {
	padding-left:15px;
	font:11px Arial, sans-serif !important;
}
.widget_flickr ul li {
	float:left;
	display:block;
	margin-right:8px;
	margin-bottom:8px;
	background:#fff !important;
	border:1px solid #CFCFCF !important;
	line-height:10px !important;
	padding:2px !important;
}
.headline {
	border-bottom:1px solid #BCBCBC;
	width:900px;
	float:left;
	padding:15px 50px;
}
.headline h2 {
	line-height:30px;
	display:inline;
	font-size:24px;
	color:#666;
}
.sidebar {
	float:right;
	width:220px;
	padding:25px 0 25px 30px;
}
.sidebar h3 {
	color:#000;
	font-size:18px;
	font-weight:400;
	margin:10px 0;
	padding:0;
}
.sidebar h3:first-child {
	margin-top:0;
	font-size:18px;
	border-bottom:1px dotted #666;
	padding:3px 0 13px;
}
.sidebar .widget_twitter h3:first-child {
	background:url("../../imagenes/twitter_icn.png") right 5px no-repeat;
}
.sidebar .widget_twitter dd {
	font-style:normal;
}
.follow_twitter {
	font-weight:700;
	background:url("../../imagenes/arrow.gif") no-repeat scroll left 6px transparent;
	padding-left:12px;
	margin-top:5px;
	float:left;
}
.sidebar .widget_flickr h3:first-child {
	background:url("../../imagenes/flickr_icn.png") right 2px no-repeat;
}
.sidebar .box {
	margin-bottom:30px;
	float:left;
	width:220px;
}
.sidebar ul li {
	border-bottom:1px dotted #999;
	line-height:26px;
	background:url("../../imagenes/arrow.gif") left 12px no-repeat;
	padding-left:15px;
}
.sidebar ul li ul li {
	padding-left:15px;
}
.sidebar dd, .footer dd {
	border-bottom:1px dotted #999;
	padding-bottom:5px;
	margin-bottom:5px;
}
.rsswidget {
	font-size:11px;
	font-style:italic;
}
.left_column {
	float:left;
	width:620px;
	padding:25px 0;
}
.post_entry {
	float:left;
	width:620px;
	margin-bottom:25px;
}
.post_entry h1:first-child, .post_entry_wide h1:first-child, .port_left h1:first-child {
	font-size:24px;
	border-bottom:1px dotted #666;
	margin-bottom:10px;
	padding:0 0 10px;
}
.services_content_holder h1:first-child {
	font-size:24px;
	border-bottom:0;
	margin-bottom:0;
	padding:0 0 5px;
}
.wide h1:first-child {
	font-size:18px;
	border-bottom:none;
	margin-bottom:0;
	padding:0 0 10px;
}
.post_entry_wide {
	float:left;
	width:900px;
	height:auto;
	padding:25px 0;
}
.port_left {
	float:left;
	width:210px;
}
.port_left .post_meta {
	margin-top:20px;
}
.port_left .post_meta a, .info .post_meta a {
	font-size:11px;
	background:url("../../imagenes/arrow.gif") no-repeat left 6px;
	padding-left:12px;
	float:left;
	width:100%;
	margin-bottom:5px;
}
.border {
	border-bottom:1px dotted #999a9d;
}
.port_right {
	float:right;
	width:640px;
	text-align:right;
}
.port_right a.img {
	float:left;
	display:block;
}
.services_image_holder {
	float:left;
	width:250px;
}
.services_content_holder {
	float:right;
	width:600px;
}
.services_content_holder a.more-link {
	margin-top:5px;
}
.post_meta {
	float:left;
	width:608px;
	margin-top:5px;
}
.post_meta_top ul {
	width:100%;
	float:left;
	margin:0 0 10px;
	padding:0;
}
.post_meta ul {
	background:url("../../imagenes/input_background.png") left top repeat-x;
	border-left:1px solid #DDD;
	border-top:1px solid #DDD;
	border-right:1px solid #BCBCBC;
	border-bottom:1px solid #BCBCBC;
	width:100%;
	float:left;
	height:30px;
	padding:0 5px;
}
.post_meta_top ul li {
	display:inline;
	font-size:11px;
	padding:0;
}
.post_meta ul li {
	display:block;
	line-height:28px;
	font-size:11px;
	float:left;
	padding:2px 8px;
}
.post_meta .read-more {
	background:url("../../imagenes/readmore_icn.gif") left 8px no-repeat;
	padding-left:20px;
	margin-left:5px;
	font-weight:700;
}
.post_meta .tags {
	background:url("../../imagenes/tags_icn.gif") left 8px no-repeat;
	padding-left:20px;
}
.post_meta .comments {
	background:url("../../imagenes/comments_icn.gif") left 8px no-repeat;
	padding-left:25px;
}
.border_img img {
	border-left:1px solid #DDD;
	border-top:1px solid #DDD;
	border-right:1px solid #BCBCBC;
	border-bottom:1px solid #BCBCBC;
	padding:5px;
}
#comments {
	margin-top:15px;
}
ol.commentlist {
	padding-left:0;
	margin-top:0 !important;
}
li.comment img.avatar {
	border-right:1px solid #BCBCBC;
	display:block;
	float:left;
	margin-right:10px;
}
li.comment .comment-author ul li {
	display:block;
	float:left;
	line-height:30px;
	margin-right:10px;
	padding:0;
}
li.comment {
	display:block;
	float:left;
	width:100%;
}
.comment-author ul {
	background:url("../../imagenes/input_background.png") repeat-x scroll left top transparent;
	border-left:1px solid #DDD;
	float:left;
	height:30px;
	width:100%;
	border-color:#DDD #BCBCBC #BCBCBC #DDD;
	border-style:solid;
	border-width:1px;
	padding:0;
}
.comment-author ul li.users {
	background:url("../../imagenes/user_icn.gif") no-repeat scroll left 8px transparent;
	padding-left:20px !important;
}
.comment-author ul li.date {
	background:url("../../imagenes/calendar_icn.gif") no-repeat scroll left 6px transparent;
	padding-left:23px !important;
	margin-left:10px;
}
.comment-author ul li.reply {
	background:url("../../imagenes/date_icn.gif") no-repeat scroll left 12px transparent;
	padding-left:20px !important;
}
#nav-dock {
	position:fixed;
	right:15px;
	top:35%;
}
#nav-dock a {
	display:block;
	background:#666;
	color:#fff;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .3);
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, .3);
	margin:3px 0;
	padding:3px 10px;
}
#nav-dock a:hover {
	background:#000;
}
#nav-dock #next {
	margin-bottom:10px;
}
.portfolio_box {
	width:280px;
	float:left;
	margin-right:10px;
	margin-bottom:10px;
	background:#fff;
	border:1px solid #DDD;
	padding:5px;
}
.portfolio_box p, .portfolio_box em {
	font-size:11px;
	margin-bottom:0;
}
.portfolio_box_holder {
	width:280px;
	float:left;
	height:240px;
	position:relative;
	margin-bottom:5px;
}
.no_margin {
	margin-right:0 !important;
}
.portfolio_box img {
	height:240px;
	width:280px;
	left:0;
	position:absolute;
	top:0;
}
.portfolio_box .portfolio_overlay {
	z-index:9999;
}
.portfolio_box_small {
	width:205px;
	float:left;
	margin-right:10px;
	background:#F8F8F8;
	border-left:1px solid #DDD;
	border-top:1px solid #DDD;
	border-right:1px solid #BCBCBC;
	border-bottom:1px solid #BCBCBC;
	padding:5px;
}
.blog_wide_holder {
	float:left;
	width:900px;
	padding:25px 0;
}
.blog_wide_holder .post_meta {
	float:left;
	width:160px;
	margin-right:25px;
	margin-top:0;
}
.blog_wide_holder .post_meta ul {
	background:none;
	border:0;
	height:auto;
	width:auto;
	margin-top:-5px;
	padding:0;
}
.blog_wide_holder .post_meta ul li.date {
	background:url("../../imagenes/calendar_icn.gif") left 8px no-repeat;
	padding-left:25px;
}
.blog_wide_holder .post_meta ul li.category {
	background:url("../../imagenes/pages_icn.gif") left 8px no-repeat;
	padding-left:25px;
}
.blog_wide_holder .post_entry {
	float:left;
	width:710px;
	margin-bottom:0;
}
.blog_wide_holder .open_close {
	float:left;
	width:80px;
}
.blog_wide_holder .open_close a {
	background:url("../../imagenes/readmore_icn.gif") no-repeat left -1px;
	padding-left:20px;
	font-size:11px;
	font-weight:700;
}
a.comment-reply-link {
	background:url("../../imagenes/readmore_icn.gif") no-repeat left 7px;
	padding-left:20px;
	font-size:11px;
	font-weight:700;
	border:0;
	margin-top:0;
	height:20px;
}
a.tagsz-1 {
	font-size:10px;
}



.menu_footer {
/* 	background:url("../../imagenes/menu_top_background.png") left bottom repeat-x; */
/* 	font-size:11px; */
/* 	color:#666; */
/* 	padding:10px 50px 20px; */
}

.menu_footer .box {
/* 	width:200px; */
/* 	float:left; */
/* 	margin-right:33px; */
/* 	margin-bottom:10px; */
}
.menu_footer h3 {
	margin-bottom:10px;
	background:url("../../imagenes/fotter_separator.gif") left top repeat-x;
	font-size:15px;
	padding:10 0 10px;
}


.copyright {
	float: left;
	width:100%;
	/*background:#0A6659;*/
/*	background:#FFFFFF;*/
	background:url("../../imagenes/menu_top_background.png") left bottom repeat-x;
	color:#cccccc;
	font-size:11px;
	padding:0 0px;
}
.copyright p {
/*	float:left;*/
	font-size:11px;
	color:#999999;
	margin-bottom:0;
	padding:10px 0;
}
.copyright .go_top {
	float:right;
	color:#FFF;
	font-size:14px;
	padding:8px 0;
}
.copyright .go_top:hover {
	color:#eee;
}
.featured_page {
	margin-bottom:30px;
	float:left;
	width:100%;
}
.items .box {
	width:200px;
	float:left;
	margin-right:33px;
	font-size:11px;
}
.items .box p.title {
	line-height:normal;
	font-weight:700;
	margin:8px 0;
}
.featured_posts, .featured_posts_blog {
	border-top:1px solid #ccc;
	float:left;
	width:900px;
	overflow:hidden;
	padding:20px 0;
}
.featured_posts_sidebar {
	border-top:1px solid #ccc;
	float:left;
}
.featured_posts h1 {
	font-size:18px;
	float:left;
	color:#333;
}
.no-border {
	border:0 !important;
}
.no-padding {
	padding-right:0 !important;
}
.bar_top {
	position:relative;
	height:26px;
	background-image:url("../../imagenes/fondo_arriba.jpg");
	background-repeat:repeat-x;
}
a, .page_holder p, .page_holder_no_height p, h1 a, h2 a, h3 a, h4 a, h5 a {
	color:#000;
}
a:hover, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	color:#666;
	text-decoration:none;
}
.header_top .twitter, .tweet_text, .alignleft, .logo {
	float:left;
}
.tweet_time, .screen-reader-text, .nocomments, .on .hide {
	display:none;
}
.header_top .top_nav, .alignright, .post_meta ul li.right {
	float:right;
}
.top_nav li a:hover, .featured_page h2, .featured_page h4, .featured_page h6, .sidebar ul li a, .footer ul li a {
	color:#666;
}
.menu ul .sf-sub-indicator, .menu ul a:focus > .sf-sub-indicator, .menu ul a:hover > .sf-sub-indicator, .menu ul a:active > .sf-sub-indicator, .menu ul li:hover > a > .sf-sub-indicator, .menu ul li.sfHover > a > .sf-sub-indicator {
	background-position:-10px 0;
}




.featured_page h1, h3, a.tagsz-5 {
	font-size:18px;
}
.featured_page h1 a, .featured_page h2 a, .featured_page h3 a, .featured_page h4 a, .featured_page h5 a, .featured_page h6 a, .sidebar ul li a:hover, .footer a, .footer ul li a:hover {
	color:#333;
}
h4, a.tagsz-4 {
	font-size:16px;
}
h5, a.tagsz-3 {
	font-size:14px;
}
h6, a.tagsz-2 {
	font-size:12px;
}
.logo span, .port_left em, .portfolio_box_small p, .footer p {
	font-size:11px;
}	
	/******* **/

	.form-comment label.mwide {
	width:180px;
	/*width:150px;*/
}

.form-comment select{
	background-color:#FFF;
	border:1px solid silver;
	color:#333;
	margin-left:0px;
	/*padding:5px;*/
}

.fsInterno{
	
	border-left:none;
	border-right:none;
	border-top:none;
	/******/
	font-size:12px;
	padding:2px;
	
}

.fsInternosinlineas{
	
	border-left:none;
	border-right:none;
	border-top:none;
	border-bottom:none;
	/******/
	font-size:12px;
	padding:2px;
	
}


form .mboton {
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size:12px;
	background-color: #2F2F2F;
	color: white;
	background-image: url(../../imagenes/fondo_menu.jpg);
	border-top-left-radius: 4px !important;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px !important;
	border-bottom-right-radius: 4px;
	cursor: pointer;
}

.separadorseccion {
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom:10px;
	font-size:12px;
	background-color: #2F2F2F;
	color: white;
	/*background-image: url(/imagenes/fondo_menu.jpg);*/
	border-top-left-radius: 4px !important;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px !important;
	border-bottom-right-radius: 4px;
	cursor: pointer;
}


.separadorseccioninterna {
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top:5px;
	margin-bottom:5px;
	margin-top:5px;
	font-size:12px;
	background-color:#5C5C5C;
	/*background-color:#137961;*/
	color: white;
	border-top-left-radius: 4px !important;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px !important;
	border-bottom-right-radius: 4px;
	float:left;

}



.marcointerno {
	width:885px;
	float:left;
	margin-right:10px;
	margin-bottom:10px;
	/*background:#F8F8F8;*/
	border-left:1px solid #DDD;
	border-top:1px solid #DDD;
	border-right:1px solid #BCBCBC;
	border-bottom:1px solid #BCBCBC;
	padding:5px;
	
}

.fielsetgris{
	background-color:#F8F8F8;
}


.marcointerno .fsInterno label.mwide {
	width:180px;
	/*width:150px;*/
}

.div-1seccion{
	width:100%;
	padding-top:5px;
	padding-bottom:3px;
	float:left;
}


.div-2secciones{
	width:50%;
	padding-top:5px;
	padding-bottom:3px;
	float:left;
}

.div-3secciones{
	width:33.3%;
	padding-top:5px;
	padding-bottom:3px;
	float:left;
}

.div-5secciones{
	width:20%;
	padding-top:5px;
	padding-bottom:3px;
	float:left;
}




/* .etiqueta { */
/* 	font-weight: bold; */
/* 	width: 150px; */
/* 	float:left; */
/* 	margin-left:5px; */
	
/* } */

.etiqueta_min {
	font-weight: bold;
	width: 80px;
	float:left;
	margin-left:5px;
	
}

.etiqueta_input {
	font-weight: bold;
	width: 150px;
	float:left;
	margin-top:12px;
	margin-left:5px;
	
}

.etiqueta_extra{
	font-weight: bold;
	width: 250px;
	float:left;
	margin-left:5px;
	
}

	
/*Estilo de error, letra roja*/
.error, .required{
	color:red;
}
/*Estilo para centar el texto*/
.texto-centrado{

	text-align: center;
}

/*Estilo para alinear a la derecha*/
.derecha {
	float: right;
}
/*Estilo para alinear a la izquierda*/
.izquierda {
	float: left;
}


/*Estilo para mostrar el nombre del sistema*/
.titulo_sistema {
	
	background:url("../../imagenes/fondo_menu.jpg") right bottom repeat-x;
	
    display: block;
    height: 2.8em;
    margin-top: 0px;
     margin-bottom: 0px;
    padding-top: 5px;
    overflow: hidden;
    z-index: 800;
    color: white;
   
    font-weight: bold;
}


.contenedor{
/* 	display: b; */
/* 	min-height: 500px; */

}

.contenedor .row{
/* 	display: table-row; */
}


.contenedor .cell{
/* 	display: table-cell !important; */
	float:left;
}

/* Estilos para las Columnas del Data Table*/
.dtCenterClassColumn {
	text-align: center;
	padding-bottom: .5em;
	padding-top: .5em;
	vertical-align: middle;
}

.dtJustifyClassColumn {
	text-align: justify;
	padding-bottom: .5em;
	padding-top: .5em;
	vertical-align: middle;
}

/*Estilos para ocultar o mostrar un elemento*/
.showElement {
	display: block;
}

.hiddenElement {
	display: none !important;
}


/*Dialogos */
.dialogo {
	background-color: white !important;
}

.opciones {
	display: table !important;
/*	width: 100%;*/
}

.opcion {
	display: table-cell;
}

div .tramite {
	display: table-cell;;
	width: 33%;
	height: 50px; 
	cursor: pointer;
	cursor: hand;
	padding: 15px;
}

div .tramite:hover {
	background-color: #E78F08;
	opacity: 0.7 !important;
	border-left: 2.5px solid #333333;
}

p .tramiteinfo {
	font-size: .8em;
	cursor: pointer;
	cursor: hand;
}

.row_selected  .tramite {
	border-left: 2.5px solid #333333;
}

.row_selected p .tramiteinfo {
	color: white;
}

.row_selected h6 {
	color: #1C94C4;
	font-size: 14px !important;
	font-weight: bold;
}

.tramitetitulo {
	font-size: 12px !important;
}

.seccion {
	padding-bottom: 10px;
}

.seccion-inner {
	padding-right: 5px;
	padding-left: 5px;
}

.seccion+.par {
	background-color: #EFFAEF;
}

.seccion+.impar {
	background-color: #CCEBC9;
}

.seccionTitulo {
	font-size: 12px !important;
}

.etiqueta {
	font-weight: bold;
	opacity: 0.8 !important;
	/*font-size: 13px;*/
}

.dato {
	
}



.dialogo_holder{
	margin: 0px !important;
	width: 100% !important;
}



/*Estilos para el portal*/

.portal_informacion {
	width: 60%;
	padding: 20px;
}
.portal_medios_acceso,.contenedor-usuario-home, .contenedor-gris{
	width: 25%;
	padding: 20px;
	background: none repeat scroll 0 0 #F5F5F5;
	border: 1px solid #E5E5E5;
}
.portal_medios_acceso .row,.contenedor-usuario-home .row {
	height: 250px;
	 border-color: #E4E3E3;
    border-bottom-style: solid;
    border-width: 5px;
    padding-top: 20px;
}

.portal_medios_acceso h2,.contenedor-usuario-home h2 {
font-size: 14px;
	height: 14px;
	line-height: 17px;
	margin: 0 0 1.2em;
	position: relative;
}


.portal_medios_acceso .etiqueta,.contenedor-usuario-home .etiqueta {
	
	display: block;
	font-weight: bold;
	margin: 0 0 0.5em;
	font-size: .9em !important;
	margin-bottom: .3em;
}



.portal_medios_acceso input[type="text"],.portal_medios_acceso input[type="password"]
	{
	font-size: 12px;
	height: 28px;
	width: 80%;
	font-weight: bold;
	margin: 0 0 0.7em;
	text-transform: uppercase;
}

.portal_medios_acceso .email-label,.portal_medios_acceso .passwd-label {
	font-weight: bold;
	margin: 0 0 0.5em;
	text-transform: uppercase;
}



.K {
    width: 14em;
}

.cuadro {
    display: table;
    float: left;
    font-size: 1em;
    min-height: 15em;
    padding-bottom: 5px;
}

.margen_derecho {
    margin-right: 1em;
}

.titulo_seccion {
    border-color: #E4E3E3;
    border-left-style: solid;
    border-width: 2px;
    color: #FEA620;
    font-size: 0.9em;
    font-weight: 700;
    margin-bottom: 0.5em;
    padding-left: 0.3em;
    text-transform: uppercase;
}




.avisos {
	background:url("../../imagenes/menu_top_background.png") left bottom repeat-x;
	font-size:11px;
	width:900px;
	color:#666;
	padding:10px 50px 20px;
	
}
.avisos .box {
	
	float:left;
	margin-right:33px;
	margin-bottom:10px;
}
.avisos h3 {
	margin-bottom:10px;
	background:url("../../imagenes/fotter_separator.gif") left top repeat-x;
	font-size:20px;
	padding:0 0 10px;
}
.avisos ul li {
	line-height:22px;
	list-style-type:square;
	list-style-position:inside;
	color:#999;
}
.avisos ul ul {
	margin:0 0 0 12px;
}
.avisos .no_margin {
	margin-right:0;
}



.aplicaciones{
	background: none repeat scroll 0 0 #FFFFFF;
	width: 100%;
	height: 330px;
	
	margin-right: 20%;
}

.aplicaciones li{
	border-right: 1px solid #DDDDDD;
    float: left;
    list-style: none outside none;
    position: relative;
    width: 164px;
}

.aplicaciones a {
	box-shadow: 0 1px 4px #888888;
	 border-top: 1px solid #DDDDDD;
    color: #111111;
    display: block;
    height: 69px;
    margin: 0;
    overflow: hidden;
    padding: 20px 16px;
    position: relative;
    text-decoration: none;
    transition: background-color 0.25s ease 0s;
    width: auto;
   
}


.aplicaciones a:hover{
	background-color:#157164;
	color:#ffffff;
}

.aplicaciones a:hover:after{
	color:#ffffff;
}

.aplicacion>.title{
	float: left;
}

.aplicacion>.desc{
	float: left;
}

.aplicacion>.app{
	
}

.resumen-text{ font-size: smaller;margin-bottom: 5px;}

.resumen-persona{ padding: 20px;}

.counter {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px 10px 10px 10px;
    color: #888888;
    font-size: 11px;
    margin: 2px 5px;
    padding: 0 3px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
}


table.tableHeadLess thead {
		display: none;
	}
	
.tableHeadLess tr.even {
    background-color: #FFFFFF;
}

.tableHeadLess tr.odd {
    background-color: #CCEBC9;
}


.tableHeadLess tr {
   background: url("../../imagenes/fotter_separator.gif") repeat-x scroll left bottom
}




.toolbarWidget {
	background-color: #F5F5F5;
}
	

.imss-widget{
	margin: 10px;
}

.imss-cursor{
	cursor: pointer;
}

.widget {
	border-bottom: 2px dashed #C2C3C9;
	padding: 10px 18px;
}

.widget:last-child {
	border-bottom: none;
}

.widget div.contenedor{
	display: block;
	height: auto;
}

.widget .contenedor .contenido address{
	float: none;
	font-size: 10px;
}

.widget .titulo{
	padding: 10px 0;
	font-size: medium;
}

.widget .titulo span{
	color: #3B6858;
    cursor: pointer;
    font-family: Soberana Titular;
    font-size: 19px;
    line-height: 18px;
    vertical-align: text-top;
}

.widget .titulo span:hover {
    text-decoration: underline;
}

.widget .descripcion p{
	color: #67666A;
    font-family: Verdana;
    font-size: 12px;
    line-height: 18px;
}


/* .contenedor-widget{ */
/* 	height: 650px; */
/* 	width: 20%; */
/* } */


.no-data{
	font-style: italic;
}

.widget .pie{
/* 	 background-color: #FFFFFF; */
    height: 30px;
/*     margin-bottom: 50px; */
    padding: 5px;
}





.widget .pie .opciones{
	float: right;
	width: 40%;
}

.widget .pie .controles{
	float: left;
	width: 60%;
}

.sortable-placeholder{
	background: none repeat scroll 0 0 #E5E5E5;
    border: 2px dotted black;
    min-height: 250px;
}


.portlet{
	margin-bottom:10px;
	padding:10 0 10px;
	width: 100%;	
	display: block;
    height: auto;    
/* 	top: 100%; */
/* 	left: 0; */
	z-index: 1000;
/* 	display: none; */
/* 	float: left; */
	min-width: 250px;
	padding: 5px 0;
/* 	margin: 2px 0 0; */
	list-style: none;
	margin-bottom:15px;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	*border-right-width: 2px;
	*border-bottom-width: 2px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
    
}


.portlet div.contenedor{
	display: block;
	height: auto;
	margin: 0 20px;
}

.portlet .contenedor .contenido address{
	float: none;
	font-size: 10px;
}

.contenedor-widget{
/* 	width: 24%; */
	background-color: #F5F5F5;
	border: 2px dashed #C2C3C9;
/* 	display:table-cell; */
}

.contenedor-portlet{
/* 	width: 72%; */
/* 	padding: 20px; */
/* 	background: none repeat scroll 0 0 #F5F5F5; */
/* 	border: 1px solid #E5E5E5; */
/* 	display:table-cell; */
}




.portlet .titulo{
	padding: 10px 0;
	font-size: medium;
}

.portlet .titulo .controles {
    display: inline;
    float: right;
}

.portlet .titulo span {
	color: #3B6858;
    cursor: pointer;
    font-family: Soberana Titular;
    font-size: 19px;
    line-height: 1em;
    margin-bottom: 0.5em;
    margin-top: 0;
    cursor: pointer;
    vertical-align: text-top;
}

.portlet .titulo span:hover {
	text-decoration: underline;
}

.portlet .descripcion p {
	color: #67666A;
    font-family: Verdana;
    font-size: 12px;
}


.portlet .pie{
/* 	 background-color: #FFFFFF; */
    height: 30px;
/*     margin-bottom: 50px; */
    padding: 5px;
    margin-top: 25px;
    background: url("../../imagenes/fotter_separator.gif") repeat-x scroll left top transparent;
}





.portlet .pie .opciones{
	float: right;
}

.portlet .pie .controles{
	float: left;
	width: 60%;
}




/* .widget table, .portlet table { */
/*     border-color: #EEEEEE; */
/*     border-style: solid; */
/*     border-width: 0 1px 1px 0; */
/*     margin: 15px auto; */
/*     padding: 0; */
/* } */



.portlet .row {
	display: table !important;
	margin-left: -20px;
}



.wizard {
	width: 100%;	
}



.wizard .titulo{
	padding: 10px 0;
	font-size: medium;
}

.wizard .titulo span {
    color: #157164;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1em;
    margin-bottom: 0.5em;
    margin-top: 0;
}


.wizard .descripcion p {
    font-size: small;
}


.wizard div.contenido{
	display: table;
	height: auto;
}



.wizard .introduccion {
    float: left;
    font-size: x-small;
    height: 500px;
    padding: 20px;
    width: 25%;
}




.wizard .instrucciones {
    background-color: #F9F9F9;
    float: right;
    font-size: small;
    height: 500px;
    margin: 10px;
    padding: 10px;
}

.wizard .instrucciones p {
    font-size: small;
}

.wizard .contenido .opciones {
	display: block !important;
}

table.tblICA {
	font-size: 10px; 
	width: 100%;
	font-family:   Verdana, Geneva, sans-serif;
}

table.tblICA td {
	line-height: 20px;
	padding: 1px 8px;
	vertical-align: middle;
}

.widget-move {
    cursor: move;
}

[class^="detalle-cambio-"], [class*=" detalle-cambio-"] {
    margin-right: 5px;
    cursor: pointer;
}

.tblDetalleCambios {
    width: 100%;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

ul.listTramties {
    list-style: disc outside none;
    margin-left: 15px;
}

.link {
	cursor: pointer;
	color: #3B6858;
	text-decoration: underline;
}

.no-border{
	border: none;
	margin: 0px;
	padding: 0px !important;
	margin-top: 20px !important;
}

.filtros-busqueda {
	font-size: x-small;
	margin-bottom: 35px;
	color: black;
}

.filtros-busqueda .control-label {
	cursor: default;
	display: inline-block;
	margin-right: 10px;
}

.filtros-busqueda .row {
	margin-left: inherit;
	width: 100%;
}

.filtros-busqueda .filtros .etiqueta {
	width: 15%;
	text-align: right;
}

.filtros-busqueda .filtros .filtro {
	width: 35%;
}

address i {
    float: none;
    font-size: 14px !important;
    
}

.widget .icono-abrir {
    background-image: url("../../imagenes/abrir_menu.png");
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 23px;
    vertical-align: text-bottom;
    width: 23px;
}

.widget .icono-cerrar {
    background-image: url("../../imagenes/cerrar_menu.png");
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 23px;
    vertical-align: text-bottom;
    width: 23px;
}

.portlet .icono-abrir {
    background-image: url("../../imagenes/abrir.png");
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 17px;
    vertical-align: middle;
    width: 23px;
}

.portlet .icono-cerrar {
    background-image: url("../../imagenes/cerrar.png");
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 17px;
    vertical-align: middle;
    width: 23px;
}

.icono-refrescar {
    background-image: url("../../imagenes/refresh.png");
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 23px;
    vertical-align: text-bottom;
    width: 23px;
}

.icono-mover {
    background-image: url("../../imagenes/mover.png");
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 23px;
    vertical-align: text-bottom;
    width: 23px;
    cursor: move;
}