<!-- HEADER IMSS -->
<div id="header">
	<div id="logo">
		<a href="http://www.imss.gob.mx/"><img
			src="/delta/resources/imagenes/headerExterno.jpg"
			alt="Portal Institucional" title=" Portal Institucional" width="582"
			height="70" border="0" /></a>
	</div>
	<div id="cuadro_buscador">
		<div id="redes">
			<a href="http://www.facebook.com/habitossaludablesimss"> <img
				src="http://www.imss.gob.mx/sites/all/statics/fb.png"
				alt="Siguenos en Facebook" name="Image14" id="Image14" border="0"
				height="28" width="27"></a> <a href="http://twitter.com/tu_imss">
				<img src="http://www.imss.gob.mx/sites/all/statics/tw.png"
				alt="Siguenos en Twitter" name="Image15" id="Image15" border="0"
				height="28" width="27">
			</a> <a href="http://www.youtube.com/user/segurosocialimss"><img
				src="http://www.imss.gob.mx/sites/all/statics/youtube.png"
				alt="Siguenos en Youtube" name="Image16" id="Image16" border="0"
				height="28" width="27"></a> <a
				href="https://www.facebook.com/JoseAntonioGonzalezAnaya"><img
				src="http://www.imss.gob.mx/sites/all/statics/logoFB.png"
				alt="Sigue al Director General en Facebook" name="Image13"
				id="Image13" border="0" height="28" width="105"></a>
		</div>
	</div>
</div>