/* css.ie.css */
@font-face {
	font-family: 'Soberana Titular';
    src: url('fuentes/soberanatitular-webfont.eot');
}

@font-face {
	font-family: 'Soberana Sans';
    src: url('fuentes/soberanasans-webfont.eot');
}


