<!-- IMSS -->
<div id="menu_principal" class="clear">
	<div class="menuboton">
		<a href="http://www.imss.gob.mx/">Inicio</a>
	</div>
	<div class="menuboton">
		<a href="http://www.imss.gob.mx/conoce-al-imss">Conoce al IMSS</a>
	</div>
	<div class="menuboton">
		<a href="http://www.imss.gob.mx/transparencia">Transparencia</a>
	</div>
	<div class="menuboton">
		<a href="http://www.imss.gob.mx/directorio">Directorio</a>
	</div>
	<div class="menuboton">
		<a href="http://www.imss.gob.mx/contacto">Contacto</a>
	</div>
</div>