<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping class="mx.gob.imss.ctirss.delta.persistence.AccNivelAtencion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.CfcActeconomica" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.CfcDivision" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.CfcFiscaliza" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.CfcFraccion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.CfcGrupo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.CfcTpofiscaliza" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.CfcUsuarioint" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.CftErrorCarga" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.CftIntegrafiscaliza" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.CftIntegrafiscalizaPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.CftRegistrospat" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.CftRegistrospatPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.CgcActividad" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.CgcAntecedente" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.CgcAviso" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.CgcDictarecibido" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.CgcFormapago" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.CgcMopinion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.CgcProrroga" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.CgcRazona" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.CgcRechazo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.CgcRegistradoen" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.CgcSustitucion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.CgcTipoaviso" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.CgtCoredisinadi" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.CgtCoredisinadiPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.CgtGestionauxregpat" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.CgtGestionauxregpatPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.CgtGestionpago" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.CgtGestionpagoPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.CgtGestionsinadi" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.CgtGestionsinadiPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DgAsentamiento" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DgAsentamientoPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DgCatAdministracion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DgCatAmbito" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DgCatDerechosTransito" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DgCatEstado" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DgCatEstadoCp" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DgCatLocalidad" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DgCatLocalidadPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DgCatMargen" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DgCatMunicipio" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DgCatMunicipioPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DgCatPeriodo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DgCatTermGen" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DgCatTipoAsen" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DgCatTipoDom" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DgCatVialidad" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DgCodigosPostale" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DgCodigosPostalePK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DgDomicilioGeografico" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DgDomiciliosCamino" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DgDomiciliosCarretera" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DgVialidad" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicAccion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicActividadUsuario" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicAreaGeografica" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicAreaSistema" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicBiene" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicBodega" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicBodegaPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicCalidadCaracMigrat" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicCalidadParentesco" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicCaracter" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicCategoriaPregunta" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicCausa" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicCausaBajaAseg" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicCausaIncapacidad" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicCiclo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicClase" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicClasePrima" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicClaveMovto" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicClavePresupuestal" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicConsultorioUmf" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicConvenio" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicCuestionarioMedico" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicCuestionarioPregunta" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicCuestionarioRespuesta" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicDelegacion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicDepositariaAjenaBienEmb" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicDepositariaAjenaBienEmbPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicDescripBaja" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicDiasFestivo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicDivision" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicDocumento" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicEjecutore" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicEjecutorePK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicEstadoCivil" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicEstadoDerechohabiente" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicEstadoPago" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicEstadoPersona" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicEstadoSeguro" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicEspecialidadMedico" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicEstadoSolicitud" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicEstadoTramite" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicEstadoProrroga" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicEstatusAnalisisCe" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicEstatusRecibo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicFacultad" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicFechaCierre" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicFraccion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicFraccionClase" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicGradoParentesco" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicGrupo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicGuarderia" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicLey" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicMandato" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicMedico" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicMedioDistribucion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicMenu" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicMenuAccion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicModalidad" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicModulo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicMunicipioImss" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicNivelEducativo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicOrigenMovtoAjuste" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicOrigenMovtoAsegurado" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicOrigMovtoPatSujoblig" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicPai" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicParametros" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicParentesco" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicPerfilUsuario" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicPersonaCalificacion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicPrestacion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicRama" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicRangoCuotaSsf" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicRazonCancelacion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicRazonRegistro" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicRazonResultado" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicRegimen" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicSeguro" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicServicio" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicServicioPrestDerechohab" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicSexo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicSubdelegacion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicSubdelCompatible" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicSubdelCompatiblePK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicSubestadoDerechohabiente" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTiemposMovtosEjec" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTiemposMovtosEjecPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTiposEjecutor" /> 
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoAportacion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoAmbito" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoAsegurado" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoCausaAnalisis" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoCombustible" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoContratacion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoContribucion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoConvenio" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoCuestionario" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoDocumentoProbatorio" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoDomicilio" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoFacultad" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoForma" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoIdentificador" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoIncapacidad" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoIndPatSujOblig" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoInteresado" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoJornada" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoMaquinariaEquipo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoMovtoAsegurado" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoMovtoPatSujoblig" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoNaturaleza" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoPago" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoPagoModalidad" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoParentesco" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoPersona" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoPension" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoPoder" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoRegPatron" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoRetiro" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoSalario" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoSeguro" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoSemana" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoSociedad" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoSolicitud" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoTrabajador" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoTramite" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoUmf" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTurno" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicUmf" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicUmfCodigoPostal" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DirCuotaCredito" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitActa" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitActaConstitutiva" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitAcuerdo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitAdimss" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitAnalisisCe" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitArticulo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitAsegurado" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitAseguradoGuarderia" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitAseguradoHuelga" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitAseguradoPension" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitAseguradoPensionHist" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitAsignacionNss" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitAsigNssHomDup" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitAsigNssParentesco" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitAutorizacionPermte" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitBalancePrestacion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitBiene" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitBitacora" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitBitacoraClasificacion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitBitacoraSegSolicitud" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitBitacoraSegTramite" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitCartillaMilitar" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitCedulaProfesional" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitCentroTrabajoContacto" /> 
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitCentroTrabajoContactoPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitCertificadoNacimiento" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitCertificadoSitCritica" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitCircunscripcionForanea" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitClasificacion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitClasificacionPropuesta" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitConstanciaEstudio" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitContratoAseguramiento" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitCorreccionDatoDerechohab" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitCorreccionDatoDerechohabPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitCredElector" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitCuestRAsegurado" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitCuestRPregAsegurado" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitCuestRRespAsegurado" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitCuotacredIncidencia" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitCuotasCotizante" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitCuotasCotizantePK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitCuotasPatronSujetoOblig" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitCuotasPatronSujetoObligPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitCurp" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitDatosClem" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitDatosClemArticulo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitDatosClemArticuloPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitDerechohabiente" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitSocio" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitSocioContacto" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitSocioContactoPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitSubdelPatSujOblig" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitDetalleTramite" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitDictBeneficiarioInca" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitDoctoReqTramite" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitDoctoResultanteTramite" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitDoctosPatSujOblig" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitDoctosPersona" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitDoctosPersonaPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitDocumentoPorTipo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitDocumentoProbatorio" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitEquipoTransporte" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitFormaContacto" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitFormaMigratoriaDoc" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitFMigratoria" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitFormaMigratoria" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitCabezaGrupoFamiliar" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitGrupoFamiliar" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitGrupoFamiliarPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitHistEstadoPersona" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitHistEstadoPersonaMoral" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitHistEstadoPersonaMoralPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitHistEstadoPersonaPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitHistEstatusAnalisis" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitHistTipoCausa" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitHistPersonaCalificacion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitHistPersonaCalificacionPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitHistPersonaMoralCalific" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitHistPersonaMoralCalificPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitIdentificador" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitIncapacidad" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitIndicadorPatSujOblig" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitInstitEducativa" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitLeySeguro" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitMatriculaConsular" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitMaquinariaEquipo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitMarcasPatronSujetoOblig" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitMarcasPatronSujetoObligPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitMateriaPrimaMaterial" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitMedicoEspecialidad" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitModalidadLeySeguro" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitModalidadSeguroPrest" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitModSegPrestContrib" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitModSegPrestServ" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitModServPresDerechohab" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitMovasegAjuste" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitMovasegAjusteAbierto" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitMovasegAjusteCierre" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitMovimientoAsegurado" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitMovimientosCotizante" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitMovimientosCotizantePK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitMovimientoSubdeleg" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitMovtoAsegAbierto" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitMovtoAsegCierre" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitMovtoPatSujOblig" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitMovtosAusentismo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitMovtosAusentismoPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitMovtosCartera" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitMovtosCarteraPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitMunicipioImssInegi" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitMunicipioPatSujOblig" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitMunicipioSubdelegacion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitNacimiento" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitObstetrico" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitOrdenPago" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitParametroArea" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitPasaporte" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitPatronCargaArchivo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitPatronEscision" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitPatronFusion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitPatronGeneral" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitPatronSujetoObligado" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitPatSujObligContacto" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitPatSujObligConvenio" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitPatSujObligDomicilio" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitPatSujObligDomMigr" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitPatsujobligSolicmovto" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitPerfilAccion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitPersona" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitPersonaAutorizada" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitPersonaDefuncion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitPersonafContacto" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitPersonafDom" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitPersonaFisica" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitPersonal" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitPersonamContacto" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitPersonamDom" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitPersonaMoral" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitPersonaView" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitPregunta" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitPresentadorAviso" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitProceso" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitProducto" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitProrroga" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitProrrogaPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitRegistroDerechohabiente" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitReintentoRPC" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitRepresentanteLegal" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitRepresentanteLegalContac" /> 
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitRepresentanteLegalContacPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitRespuestaCuestionario" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitRespuestaCuestionarioPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitRlFacultad" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitSalarioGeneral" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitSeguroIvro" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitSindicato" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitSolicitud" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitSolicitudDocumento" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitSolicitudFirmaDigital" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitSolicitudSeguimiento" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitTipoAsegModalidad" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitTipoContacto" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitTipoContribModalidad" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitTipoJornadaModalidad" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitTipoSalarioModalidad" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitTipoSemanaModalidad" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitTipoTrabModalidad" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitTramite" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitTramitePatSujObligado" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitTramitePatSujObligadoPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitTramitePersonaFisica" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitTramitePersonaFisicaPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitTramitePersonaMoral" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitTramitePersonaMoralPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitUmfCodPo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitUmfConsultorioTurno" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitUmfConsTurnoMedico" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitUmfTurno" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitUmfTurnoPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitUsuario" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitUsuarioFuncionario" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitUsuarioOrdinario" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitVigenciaTemporal" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DivReporteAnalisis" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DivSolicitudConcluida" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DrtParametroInpc" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdcDivision" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdcFraccion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdcFraccionPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdcGrupo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdcGrupoPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdcMediosImpugnacion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdcPorcentaje" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdcRemuneracione" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdcSancion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdcStatusMimpugna" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdcStatusSancion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdcTpoproceso" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdcTpostatus" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdiAsocColegio" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdiColegio" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdiColegioDom" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdiCpa" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdiCpaDom" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdiCpaHistorico" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdiDatosExtra" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdiDespacho" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdiDespachoDom" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdiDictamenExistente" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdiDictamenExistentePK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdiDocumentacion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdiHBajaCpa" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdiHBajaCpaPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdiHModifCpa" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdiHModifCpaPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdiOficio" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdiRechazoCpa" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdiSancion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdiTpOficioEsp" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdiTpSancion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA1Clasificacion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA1ClasificacionPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA1ContratoTrabajo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA1ContratoTrabajoPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA1CopEjer" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA1CopEjerPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA1PatSustituto" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA1PatSustitutoPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA2Cuota" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA2CuotaPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA2Rcv" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA2RcvPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA3ActPerNoSujeto" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA3ActPerNoSujetoPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA3Clausula" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA3ClausulaPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA3Grupo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA3GrupoClausula" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA3GrupoClausulaPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA3GrupoFactore" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA3GrupoFactorePK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA3GrupoFactorOtro" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA3GrupoFactorOtroPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA3GrupoPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA3Muestra" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA3MuestraDatoConcepto" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA3MuestraDatoConceptoPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA3MuestraOtroConcepto" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA3MuestraOtroConceptoPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA3MuestraPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA3PersonaSujeto" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA3PersonaSujetoPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA3PfOtro" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA3PfOtroPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA4Catremunera" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA4CatremuneraPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA4Cuenta" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA4CuentaPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA4GastoBalance" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA4GastoBalancePK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA4GastobCuenta" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA4GastobCuentaPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA4PercepVariable" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA4PercepVariablePK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA4Remuneracion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA4RemuneracionPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA5Maquinaria" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA5MaquinariaPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA5MatPrima" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA5MatPrimaPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA5Personal" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtA5PersonalPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtActcomplementaria" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtAnexo5" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtAnexo5PK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtAviso" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtAvisoAntecedente" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtAvisoSustitucion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtBeneficiarioservicio" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtCartaPresentacion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtCartaPresentDom" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtCedrazDictamen" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtCedrazDictamenPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtCedrazPercepcione" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtCedrazPercepcionePK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtCedrazRegpat" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtCedrazRegpatPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtConstruccionObra" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtConstruccionObraPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtConstruccionObrasDom" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtConstruccionSubcontratist" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtConstruccionSubcontratistPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtContratoGrupo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtContratoGrupoPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtControFlujoAnexo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtControFlujoAnexoPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtDatosAfil15" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtDatosAfil15PK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtDeleg" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtDictamenesRechazado" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtErrorCargaAnexo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtEstatusFlujoAnexo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtFasesSubcontratista" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtFinha" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtGrupo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtImpugnacion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtImpugnacionPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtNombreAnexo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtNotariaelectronica" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtPatron" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtPatronCpa" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtPatronHi" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtPatronHiPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtPatronNuevo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtPatronNuevoPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtPatronPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtPeriodo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtPorcentajeCuotasCedula" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtPorcentajesCedula" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtRegistroContador" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtRegistroPeriodo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtRegistroPeriodoPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtSalariosMinimo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtSolicitudProrroga" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtSubdeleg" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtSubdelegPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FdtTipoObra" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FiEntFed" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FiLada" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FiMunicipio" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FiMunicipioPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FiMunicipiosImssInegi" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FiPatRegObra" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.FiPatRegObraPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.IetcCartasIetcFiel" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.IetcCartasIetcFielPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.IetcCertificadoReq" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.IetcCertificadoReqPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.IetcDatosCertificado" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.IetcDatosCertificadoPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.IetcEstatus" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.IetcRegistrosContador" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.SacMenuitem" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.SacRole" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.SatUser" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.SatUserrol" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitPersonaInteresadaSol" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoPerInteresadaSol" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicRespuesta" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicRespuestaPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitDocumentacionTramite" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitDocumentacionTramitePK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitPersonaDomExtranjero" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitAsignacionSerie" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicSeriesNss" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoSerie" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicFolioNss" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicFolioNssPK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitDetalleNivelEducativo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoNivelEducativo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitComprobanteDomicilio" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitCambioMasivoClinica" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicArticulo155" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitAnexoVSolicitudCe" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoOperacionCe" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicRolCe" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicEstatusRolOperacionCe" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicEstatusRolOperacionCePK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicFactorModalidadRama" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitRiesgosAnalisisCe" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitDetalleRiesgos" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitInfoComplementaria" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicGrupoAnalisisCe" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoDoctoAnalisisCe" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitDoctoAnalisisCe" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitGrupoTramiteAnalisisCePK" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitGrupoTramiteAnalisisCe" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitHistDatosClem" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitResultadoAnexoV" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitDomicilioSat" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitPersonaMDomFiscal" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitPersonaFDomFiscal" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitPersonaFContactoFiscal" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitPersonaMContactoFiscal" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitNotificacion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitIdentificadorMoral" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitSituacionSat" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitDatosPersonaSat" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitSolicitudNssCorreo" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicOrigenSolicitud" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitLlaveAsegurado" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitLlavePatron" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitDtsExtraPatron" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitPersonaBeneficio" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitBeneficio" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicBeneficioCancelacion" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicEstadoBeneficio" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicTipoBeneficio" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitPatSujObligBeneficio" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitBeneficioRiss" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DitDescuentoBeneficio" />
		<mapping class="mx.gob.imss.ctirss.delta.persistence.DicDescuentoRiss" />
	</session-factory>
</hibernate-configuration>
